
/* ************************************ */
/* General set */
/* ************************************ */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Rubik",sans-serif;
  line-height: 1;
  font-weight:400;
  color:#555;
}
h1{
  font-size:2.8rem;
  font-weight:700;
  color:rgb(35,35,35);
  margin-bottom: 10px;
}

span{
  font-size:.9rem;
  color:#757373
}
h6{
  font-size:1.1rem;
  color:rgb(24,24,49);
}


/* ************************************ */
/* HEARDER */
/* ************************************ */
nav{
  
  width: 100%;
  background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding:1vw 8vw;  
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
nav img {
    width:100px;
    
    cursor:pointer;
}
nav .navigation ul{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  
}
nav .navigation ul li{
 list-style:none;
 margin-left:3rem

}
nav .navigation ul li a{
 text-decoration:none;
 color:rgb(21,21,100);
 font-size: 1.6rem;
 font-weight: 500;
 transition: 0.3s ease;
 }
 nav .navigation ul li a:hover{
    color:#Fdc93b;
  }


/* ************************************ */
/* HERO SECTION */
/* ************************************ */
.section-hero{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)), url("../images/back.jpg");
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    padding-top:40px;
   
}
.section-hero h2{
  color:#fff;
  font-size: 3.6rem;
  letter-spacing: 1px;
}

.section-hero p{
  width:50%;
  color:#fff;
  font-size: 1.5rem;
  line-height:25px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.section-hero .btn{
 margin-top:30px;

}
.section-hero a{
 text-decoration: none;
 font-size: 0.9rem;
 padding:13px 35px;
 background-color: #fff;
 font-weight: 600;
 border-radius: 5px;
}
.section-hero a.blue{
  color:#fff;
  background: rgb(21,21,100);
  transition:0.3s ease;
  
}
.section-hero a.blue:hover{
  color:rgb(21,21,100);
  background: #fff;
  
}
.section-hero a.yellow{
  margin-left: 2rem;
  color:#fff;
  background: #fdc93b;
  transition:0.3s ease;
  
}
.section-hero a.yellow:hover{
  color:rgb(21,21,100);
  background: #fff;
  
}



/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    
  }
  .feature-base{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
     gap:1rem;
     margin-top: 50px;
  }
  .fea-box{
    background-color: #f9f9ff;
    text-align: start;
    padding:30px;
  
  }

  .fea-box i {
    font-size: 2.3rem;
    color:rgb(44,44,80);
  }
  .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color:rgb(46,46,59);
    padding:13px 0 7px 0;

  }
 .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color:rgb(70,70,87);
  
  }

   /**************************/
  /* course section */
  /**************************/

  .section-course{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    
  }
  .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    gap:1rem;
    margin-top: 50px;
  }

  .courses{
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    position: relative;
    padding:20px;
  }

   .courses img{
     width: 100%;
     height:60%;
     background-size: cover;
     background-position: center;
   }
   .details{
   
     padding:15px 15px 0 15px; 
     
   }

   .details i{
     margin-top: 15px;
     color:#fdc93b;
     font-size: .9rem;
   }

   .program-btn{
    margin-top:30px;
   }
  
  
 
/**************************/
  /* registration section */
  /**************************/

  .registration-section{
    margin-top: 30px;
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,233,0.5)),url("../images/registration.jpg");
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reminder{
    color:#fff;

  }
  .reminder h1{
    color:#fff;
  }
  .time{
    display: flex;
    margin-top: 40px;

  }

  .date{
    text-align:center;
    padding:13px 33px;
    background-color: rgba(255,255,255,0.25);
    backdrop-filter:blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius:10px;
    margin:0 5px 10px;
    border:1px solid #fff rgba(255,255,255,0.18);
    font-size:1.1rem;
    font-weight: 600;

  }

  .form{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow:  0 8px 32px 0 rgba(31,38,135,0.37);
  }

  .form input{
    margin:15px 0;
    padding:15px 10px;
    border:1px solid rgb(84,40,241);
    outline: none;
  }
  .form input::placeholder{
    color:#413c3c;
    font-weight: 500;
    font-size: 0,9rem;
  }
   .btn{
    margin-top:20px;
  }
   a.yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding:13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    
    color:#fff;
    background: #fdc93b;
    transition:0.3s ease;
    
  }
  a.yellow:hover{
    color:rgb(21,21,100);
    background: #fff;
    
  }

  /**************************/
  /* experts section */
  /**************************/

  .professor{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
  }
  .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px,1fr));
    gap:1rem;
    margin-top: 50px;
  }
  .profile img{
    border-radius: 50%;
    width:50%;
    border:1px solid #eee;
    box-shadow:  0 8px 32px 0 rgba(31, 133, 135, 0.37);
    margin-bottom: 20px;
  }
  .profile{
    background-color: #fafaf1;
    padding:30px 10px;
  }
  .pro-links{
    margin-top:10px;
  }
  .pro-links i {
    padding: 10px 13px;
    border: 1px solid rgb(21,21,100);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .pro-links i:hover {
    background-color:  rgb(21,21,100);
    border: 1px solid rgb(21,21,100);
    color:#fff;
    cursor: pointer;
  }
  
  /**************************/
  /* FOOTER */
  /**************************/
  
  footer {
    margin-top: 30px;
    padding: 4vw;
    background-color:#101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap;
  
  }
  .footer-col{
    padding-bottom: 40px;
  }
  .footer-col h3{
    color:rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px ;

  }
  .footer-col li{
    list-style: none;
    color:#7b838a;
    padding:10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    }

  .footer-col li:hover{
    color:rgb(241,240,245);
  
  }
  .footer-col p{
    color:#7b838a;
  }
  .subscribe{
    margin-top:20px;
  }

  .footer-col input{
    width:220px;
    padding: 15px 12px;
    background-color: #334f6c;
    border: none;
    outline:none;
    color:#fff;
  }
   .footer-col a{
    text-decoration: none;
    font-size: 0.9rem;
    padding:12px 15px;
    background-color: #fff;
    font-weight: 600;
  
  }
  .footer-col .yellow{
      margin-left: 2rem;
      color:#fff;
      background: #fdc93b;
      transition:0.3s ease;
      
    }
  .footer-col .yellow:hover{
      color:rgb(21,21,100);
      background: #fff;
      
    }
    .copyright{
      margin-top:20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
      flex-wrap:wrap;

    }
    .copyright p{
     color: #fff;

    }
    .copyright .pro-links{
      margin-top:0px;
    }
    .copyright .pro-links i {
      background-color: #5f7185;
      color:#fff;
    }
    .copyright .pro-links i:hover {
      background-color: #Fdc93b;
      color:#2c2c2c;
    }
  


  