<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add course to Professor</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
          <link rel="stylesheet" th:href="@{/css/form.css}"  />
</head>
<body>
<header class="header">
    <nav class="nav">
        <div>
            <img class="pt-2"
                 th:src="@{/images/logo.jpg}"
                 alt="school logo"
            />

        </div>

        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link" th:href="@{/}">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__link nav__link--btn" th:href="@{/}"
                >Log out</a>
            </li>
        </ul>
    </nav>
</header>
    <section class="form-section">
<h3> Select your course</h3>
<form th:action="@{/saveCourseToProfessor/{id}(id=${professor.id})}" th:object="${newProfessor}" method="post">
    <ul class="mb-4 col-2" >
        <input type="hidden" th:field="${professor.id}" th:value="${professor.id}">
        <input type="hidden" th:field="${professor.FName}" th:value="${professor.FName}">
        <input type="hidden" th:field="${professor.LName}" th:value="${professor.LName}">
        <input type="hidden" th:field="${professor.email}" th:value="${professor.email}">
        <input type="hidden" th:field="${professor.gender}" th:value="${professor.gender}">
        <input type="hidden" th:field="${professor.address}" th:value="${professor.address}">
        <input type="hidden" th:field="${professor.phone}" th:value="${professor.phone}">

        <select th:field="${newProfessor.courses}">
            <option  th:each="course:${courses}"  th:value="${course.id}" th:text="${course.courseName}">
                <!--            <label th:text="${program.getProgramName}"></label>-->
        </select>

    </ul>
    <br>
    <button type="submit" class="btn btn-info col-2">Save Course</button>
</form>
    </section>

<footer class="footer-section">
    <div class="footer-col">
        <h3>Top Products</h3>
        <li>Manage Reputation</li>
        <li>Power Tools</li>
        <li>Managed Websites</li>
        <li>Marketing Service</li>
    </div>
    <div class="footer-col">
        <h3>Quick Links</h3>
        <li>Jobs</li>
        <li>Brand Assets</li>
        <li>Investor Relations</li>
        <li>Terms of Serivce</li>
    </div>
    <div class="footer-col">
        <h3>Features</h3>
        <li>Manage Reputation</li>
        <li>Power Tools</li>
        <li>Managed Websites</li>
        <li>Marketing Service</li>
    </div>
    <div class="footer-col">
        <h3>Resources</h3>
        <li>Research</li>
        <li>Experts</li>
        <li>Marketing Service</li>
    </div>
    <div class="footer-col">
        <h3>Newsletter</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>

        <div class="subscribe"></div>
        <input type="text" placeholder="Your Email address">
        <a href="#" class="yellow">SUBSCRIBE</a>
    </div>
    <div class="copyright">
        <p>Copyright @2022 ALL rights reserved by school</p>
        <div class="pro-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
        </div>
    </div>

</footer>
</body>
</html>
