<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add students to course</title>
    <!-- <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"> -->
          <link rel="stylesheet" th:href="@{/css/professor.css}"  />
</head>
<body>
    <header class="header">
        <nav class="nav">
          <div>
              <img class="pt-2"
                  th:src="@{/images/logo.jpg}"
                  alt="school logo"
              />
              
          </div>
          
          <ul class="nav__links">
            <li class="nav__item">
              <a class="nav__link" th:href="@{/}">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link nav__link--btn" th:href="@{/}"
                >Log out</a>
            </li>
          </ul>
        </nav>
    </header>
    <section>
<h4> select your course</h4>
<form th:action="@{/saveCourseToStudent/{id}(id=${student.id})}" th:object="${newStudent}" method="post">
    <ul class="mb-4 col-2" >
        <input type="hidden" th:field="${student.id}" th:value="${student.id}">
        <input type="hidden" th:field="${student.FName}" th:value="${student.FName}">
        <input type="hidden" th:field="${student.LName}" th:value="${student.LName}">
        <input type="hidden" th:field="${student.email}" th:value="${student.email}">
        <input type="hidden" th:field="${student.gender}" th:value="${student.gender}">
        <input type="hidden" th:field="${student.address}" th:value="${student.address}">
        <input type="hidden" th:field="${student.phone}" th:value="${student.address}">
        <input type="hidden" th:field="${student.program}" th:value="${student.address}">
        <input type="hidden" th:field="${student.grades}" th:value="${student.address}">

        <select th:field="${newStudent.courses}">
            <option  th:each="course:${courses}"  th:value="${course.id}" th:text="${course.courseName}">
                <!--            <label th:text="${program.getProgramName}"></label>-->
        </select>

    </ul>
    <button type="submit" class="btn btn-info col-2">Save class</button>
</form>
<footer class="footer-section">
    <div class="footer-col">
      <h3>Top Products</h3>
      <li>Manage Reputation</li>
      <li>Power Tools</li>
      <li>Managed Websites</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>Quick Links</h3>
      <li>Jobs</li>
      <li>Brand Assets</li>
      <li>Investor Relations</li>
      <li>Terms of Serivce</li>
    </div>
    <div class="footer-col">
      <h3>Features</h3>
      <li>Manage Reputation</li>
      <li>Power Tools</li>
      <li>Managed Websites</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>Resources</h3>
      <li>Research</li>
      <li>Experts</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>Newsletter</h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>

     <div class="subscribe"></div>
     <input type="text" placeholder="Your Email address">
     <a href="#" class="yellow">SUBSCRIBE</a>
    </div>
    <div class="copyright">
      <p>Copyright @2022 ALL rights reserved by school</p>
      <div class="pro-links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

    </footer>
</body>
</html>
