<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add students to course</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h4> select your course</h4>
<!--/*@thymesVar id="coursesList" type="java.util.List"*/-->
<form th:action="@{/saveCoursesToStudent/{id}(id=${student.id})}" th:object="${newStudent}" method="post">

    <input type="hidden" th:field="${student.id}" th:value="${student.id}">
    <input type="hidden" th:field="${student.FName}" th:value="${student.FName}">
    <input type="hidden" th:field="${student.LName}" th:value="${student.LName}">
    <input type="hidden" th:field="${student.gender}" th:value="${student.gender}">
    <input type="hidden" th:field="${student.address}" th:value="${student.address}">
    <input type="hidden" th:field="${student.email}" th:value="${student.email}">
    <input type="hidden" th:field="${student.address}" th:value="${student.address}">
    <input type="hidden" th:field="${student.program}" th:value="${student.program}">
        <!--/*@thymesVar id="coursesList" type="java.util.List"*/-->
<!--        <select th:field="${coursesList}">-->
<!--            <option  th:each="course:${courses}"  th:value="${course.id}" th:text="${course.courseName}">-->
<!--                &lt;!&ndash;            <label th:text="${program.getProgramName}"></label>&ndash;&gt;-->
<!--        </select>-->

        <div th:each="course:${courses}" >
        <!--/*@thymesVar id="add" type="java.util.HashSet"*/-->
        <input type="checkbox" th:field="${newStudent.addCourse}" th:value="${course}"  th:text="${course.courseName}" class="form-control mb-4 col-4">
        </div>


    <button type="submit" class="btn btn-info col-2">Save class</button>
</form>
</body>
</html>