<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student to course</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
<h3>Student List</h3>

<table style="width:100%" class="table  table-bordered table-dark  ">
    <thead>
    <tr>
        <th th:type="hidden"></th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tr th:each="pr:${programs}">
        <td th:type="hidden" th:filed="${pr.id}"></td>
        <td th:text="${pr.programName}"></td>
        <td>
            <a th:href="@{/programStudents/{id}(id=${pr.id})}" class="btn btn-primary">see all the student in this program</a>

        </td>
    </tr>

</table>
                <a th:href="@{/addProgram}" class="btn btn-primary">add new program</a>
    <br>
    <br>
                <a th:href="@{/admin}" class="btn btn-primary btn-sm mb-3">go back to admin page</a>

</div>
</body>
</html>