<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h3>Student List</h3>

    <table style="width:100%" class="table  table-bordered table-dark  ">
        <thead>
        <tr>
            <th> </th>
            <th> First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>gender</th>
            <th>Address</th>
            <th>Program</th>
            <th>courses</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr th:each="st:${students}">
            <td th:type="hidden" th:filed="${st.id}"></td>
            <td th:text="${st.FName}"></td>
            <td th:text="${st.LName}"></td>
            <td th:text="${st.email}"></td>
            <td th:text="${st.gender}"></td>
            <td th:text="${st.address}"></td>
            <td th:text="${st.program}"></td>
            <td >
                <ul th:each="cr:${st.courses}" >
                    <li th:text=" ${cr}"></li>
                </ul>
            </td>

            <td>
                <a th:href="@{/showFormForUpdate/{id}(id=${st.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/addCourse/{id}(id=${st.id})}" class="btn btn-danger">add course</a>
                <a th:href="@{/addAddress/{id}(id=${st.id})}" class="btn btn-primary">add address</a>
                <a th:href="@{/addProgram/{id}(id=${st.id})}" class="btn btn-primary">add program</a>
                <a th:href="@{/deleteStudent/{id}(id=${st.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>

    <br>
    <a th:href="@{/addNewStudent}" class="btn btn-primary btn-sm mb-3">Add New Student</a>
    <br>
    <a th:href="@{/admin}" class="btn btn-primary btn-sm mb-3">go back to admin page</a>

</div>

</body>
</html>