<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h2>Professor dashboard</h2>
    <h3>welcome back <span th:text="${professor.FName}"></span> <span th:text="${professor.LName}"></span></h3>
    <table style="width:100%" class="table  table-bordered table-dark  ">
        <thead>
        <tr>
            <th> </th>
            <th> First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>gender</th>
            <th>Address</th>
            <th>Program</th>
            <th>courses</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr >
            <td th:type="hidden" th:filed="${professor.id}"></td>
            <td th:text="${professor.FName}"></td>
            <td th:text="${professor.LName}"></td>
            <td th:text="${professor.email}"></td>
            <td th:text="${professor.address}"></td>
        </tr>
    </table><br>

            <h2>your courses</h2>

            <table style="width:100%" class="table  table-bordered table-dark  ">
                <thead>
                <tr>
                    <th>course name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr th:each="cr:${professor.courses}">
                    <td th:text="${cr.courseName}"></td>
                    <td >
                        <a th:href="@{/courseGrades/{id}(id=${cr.id})}" class="btn btn-primary">see all the student in this course</a>
                        <a th:href="@{/courseStudentsForProfessor/{id}(id=${cr.id})}" class="btn btn-primary">add grades to students</a>
                    </td>
                </tr>

    </table>

</div>

</body>
</html>