<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>professor page</title>
    <link rel="stylesheet" th:href="@{/css/professor.css}"  />
   
</head>
<body>
    <header class="header">
        <nav class="nav">
          <div>
              <img class="pt-2"
                  th:src="@{/img/logo.jpg}"
                  alt="school logo"
              />
              
          </div>
          
          <ul class="nav__links">
            <li class="nav__item">
              <a class="nav__link" th:href="@{/index}">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link nav__link--btn" th:href="@{/index}"
                >Log out</a>
            </li>
          </ul>
        </nav>
    </header>
    <main>
        <section class="profile -section">
        <h1> Professor </h1>
        <h2 th:text="'Welcome back: '+${First name} + ',' ${last name}"></h2>

        <div class="grid-container">

          <div class="grid-item">
            <h3 class="grid-header">Gender</h3>
            <h3 class= "grid-content" th:text="${gender}"></h3> 
             
            </div>
            <div class="grid-item">
                <h3 class="grid-header">Program</h3>
                <h3 class= "grid-content " th:text="${program}">Computer Science</h3> 
                </div>
         
                <div class="grid-item"> 
            <h3 class="grid-header">Phone Number</h3>
            <h3 class= "grid-content" th:text="${phoneNumber}"></h3>
            <button class="edit"> <a th:href="@{/edit}">Edit</a></button>
            </div>
           
            <div class="grid-item">
              
            <h3 class="grid-header">Email</h3>
            <h3 class= "grid-content" th:text="${email}"></h3>
            <button class="edit"> <a th:href="@{/edit}">Edit</a></button>
            </div>

            <div class="grid-item">
             
            <h3 class="grid-header">Address</h3>
            <h3 class= "grid-content" th:text="${street}<br>  + ${city} + ', '+ ${postcode}">105 Street Blue <br> Montreal, J173g9</h3> 
            <button class="edit"> <a th:href="@{/edit}">Edit</a></button>
            </div>
          </div>
        </section>
        
      <section class="grading-student">
        <h1> Students & Grades </h1>
        <div class="table">
            <form   action="@{/}" th:object="${}" method="post" id="my_form"></form>
        <table>
            <thead>
            <tr>
                <th>Courses</th>
                <th>My stuents</th> 
                <th>grades</th>
                <th>Action</th>  
            </tr>
         </thead>
         <tbody>
            <tr>
             <td> <form="my_form"> 
                 <select th:filed="*{program}" id="programs" name="programs">
                <option th:value="'Java'" th:text="Java">Java </option>
                <option th:value="'JavaSpring'" th:text="Java Spring">Java Spring</option>
                <option th:value="'Html & Css'" th:text="Html & Css">Html & Css</option>
                <option th:value="'JavaScript'" th:text="JavaScript">JavaScript</option>
                <option th:value="'DataStructure'" th:text="DataStructure">DataStructure</option>
                <option th:value="DataBase" th:text="Database">Database</option> 
               
                </td>
                <td><input type="text" th:field="*{student_name}" name="Student name" form="my_form"/></td>
             <td><input type="text" th:field ="*{grade}" name="grades" form="my_form"/></td>
             <td><button type="button" form="my_form">Adding grade</button></td>
            </tr>
            
         </tbody>
        </table>
       </div>
    </section>

         </main>

         <footer class="footer-section">
            <div class="footer-col">
              <h3>Top Products</h3>
              <li>Manage Reputation</li>
              <li>Power Tools</li>
              <li>Managed Websites</li>
              <li>Marketing Service</li>
            </div>
            <div class="footer-col">
              <h3>Quick Links</h3>
              <li>Jobs</li>
              <li>Brand Assets</li>
              <li>Investor Relations</li>
              <li>Terms of Serivce</li>
            </div>
            <div class="footer-col">
              <h3>Features</h3>
              <li>Manage Reputation</li>
              <li>Power Tools</li>
              <li>Managed Websites</li>
              <li>Marketing Service</li>
            </div>
            <div class="footer-col">
              <h3>Resources</h3>
              <li>Research</li>
              <li>Experts</li>
              <li>Marketing Service</li>
            </div>
            <div class="footer-col">
              <h3>Newsletter</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
        
             <div class="subscribe"></div>
             <input type="text" placeholder="Your Email address">
             <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
            <div class="copyright">
              <p>Copyright @2022 ALL rights reserved by school</p>
              <div class="pro-links">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
              </div>
            </div>
        
            </footer>
        
      
    
</body>
</html>