<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Course</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <h1><span th:text="${course.courseName}"></span></h1>
<table style="width:100%" class="table  table-bordered table-dark  ">
    <thead>
    <tr>
        <th> </th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tr th:each="st:${students}">
        <td th:type="hidden" th:filed="${st.id}"></td>
        <td th:text="${st.FName}"></td>
        <td th:text="${st.LName}"></td>
        <td th:text="${st.email}"></td>

        <td>
            <a th:href="@{/showFormForUpdate/{id}(id=${st.id})}" class="btn btn-primary">remove student from course</a>
        </td>
    </tr>
</table>

    <a th:href="@{/admin}" class="btn btn-primary btn-sm mb-3">go back to admin page</a>
    <a th:href="@{/course}" class="btn btn-primary btn-sm mb-3">go back to Course list</a>
</body>
</html>