<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Course</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
     <span th:text="${course.courseName}"></span>
<table style="width:100%" class="table  table-bordered table-dark  ">
    <thead>
    <tr>
        <th> </th>
        <th>first Name</th>
        <th>last Name</th>
        <th>grade</th>
        <th>course</th>
        <th>Action</th>
    </tr>
    </thead>

    <tr th:each="gr:${grades}">
        <td th:text="${gr.student.FName}"></td>
        <td th:text="${gr.student.LName}"></td>
        <td th:text="${gr.grade}"></td>
        <td th:text="${gr.course.courseName}"></td>
        <td>
<!--        <a th:href="@{/editGradeOfStudent/{id}(id=${gr.id})}" class="btn btn-primary">edit grades</a>-->
                <a th:href="@{/editGradeOfStudent/(courseId=${course.id},id=${gr.id})}" class="btn btn-primary">edit grades</a>
    </tr>
</table>

</body>
</html>