<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Save Student</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
          <link rel="stylesheet" th:href="@{/css/form.css}"  />
</head>
<body>
<header class="header">
    <nav class="nav">
        <div>
            <img class="pt-2"
                 th:src="@{/images/logo.jpg}"
                 alt="school logo"
            />

        </div>

        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link" th:href="@{/}">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__link nav__link--btn" th:href="@{/}"
                >Log out</a>
            </li>
        </ul>
    </nav>
</header>
    <section>
<div class="container">
    <h1> Student Management system</h1>
    <hr>
    <h2>Save Student</h2>
    <form th:action="@{/saveStudent}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{FName}"
               placeholder="Enter student first name" class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('FName')}" th:errorclass="error" th:errors="*{FName}"></p>

        <input type="text" th:field="*{LName}"
               placeholder="Enter student last name" class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('LName')}" th:errorclass="error" th:errors="*{LName}"></p>


        <input type="text" th:field="*{email}" placeholder="enter student email" class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>

        <input type="text" th:field="*{phone}" placeholder="enter phone number" class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('phone')}" th:errorclass="error" th:errors="*{phone}"></p>

        <select name="gender" class="form-control mb-4 col-4">
            <option th:each="gender : ${T(com.jac.assignment2.model.Gender).values()}"
                    th:value="${gender}" th:text="${gender.toString().toLowerCase()}"></option>
        </select>
        <h2>address</h2>
        <input type="text" th:field="*{address.buildingNumber}"
               placeholder="Enter buildingNumber" class="form-control mb-4 col-4"/>

        <input type="text" th:field="*{address.street}"
               placeholder="Enter street" class="form-control mb-4 col-4"/>

        <input type="text" th:field="*{address.city}"
               placeholder="Enter city" class="form-control mb-4 col-4"/>

        <input type="text" th:field="*{address.zipCode}"
               placeholder="Enter zipCode" class="form-control mb-4 col-4"/>
        <p th:if="${#fields.hasErrors('address')}" th:errorclass="error" th:errors="*{address}"></p>
        <input type="hidden" th:field="*{program}"/>
        <input type="hidden" th:field="*{courses}"/>
        <input type="hidden" th:field="*{grades}"/>

        <button type="submit" class="btn btn-info col-2">Save student</button>
    </form>
</div>
</section>

<footer class="footer-section">
    <div class="footer-col">
      <h3>Top Products</h3>
      <li>Manage Reputation</li>
      <li>Power Tools</li>
      <li>Managed Websites</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>Quick Links</h3>
      <li>Jobs</li>
      <li>Brand Assets</li>
      <li>Investor Relations</li>
      <li>Terms of Serivce</li>
    </div>
    <div class="footer-col">
      <h3>Features</h3>
      <li>Manage Reputation</li>
      <li>Power Tools</li>
      <li>Managed Websites</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>Resources</h3>
      <li>Research</li>
      <li>Experts</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>Newsletter</h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>

     <div class="subscribe"></div>
     <input type="text" placeholder="Your Email address">
     <a href="#" class="yellow">SUBSCRIBE</a>
    </div>
    <div class="copyright">
      <p>Copyright @2022 ALL rights reserved by school</p>
      <div class="pro-links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

    </footer>
</body>
</html>
<style>
    .error{
        color: red
    }
</style>
