<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student page</title>
    <link rel="stylesheet" th: href=@{"css/student.css"}  />
   
</head>
<body>
    <header class="header">
        <nav class="nav">
          <div>
              <img class="pt-2"
                  src="img/logo.jpg"
                  alt="school logo"
              />
              
          </div>
          
          <ul class="nav__links">
            <li class="nav__item">
              <a class="nav__link" href="index.html">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link nav__link--btn" href="index.html"
                >Log out</a>
            </li>
          </ul>
        </nav>
    </header>
    <main>
        <section class="profile -section">
        <h1> My profile </h1>
        <h2>Welcome: First name , last name</h2>

        <div class="grid-container">

            <div class="grid-item">
             
                <h3 class="grid-header">Program</h3>
                <h3 class= "grid-content">Computer Science</h3> 
              
                </div>
            <div class="grid-item">
            <h3 class="grid-header">Gender</h3>
            <h3 class= "grid-content">Male<br></h3> 
             
            </div>
             <div class="grid-item">
              
            <h3 class="grid-header">Date Of Birth</h3>
            <h3 class= "grid-content">2000-03-29 <br> 
            </div>
            <div class="grid-item">
               
            <h3 class="grid-header">Phone Number</h3>
            <h3 class= "grid-content">514-333-2222 <br></h3> 
            <button class="edit"> <a href="edit.html">Edit</a></button> 
            </div>
           
            <div class="grid-item">
              
            <h3 class="grid-header">Email</h3>
            <h3 class= "grid-content">1234@gmail.com <br></h3> 
            <button class="edit"> <a href="edit.html">Edit</a></button>
            </div>

            <div class="grid-item">
             
            <h3 class="grid-header">Address</h3>
            <h3 class= "grid-content">105 Street Blue <br> Montreal, J173g9</h3> 
            <button class="edit"> <a href="edit.html">Edit</a></button>
            </div>
          </div>
        </section>
        

        <section class="grade-course">
            <h1>Courses &  grades</h1>
            <div class="table">
             <table>
                 <thead>
                 <tr>
                     <th>Date</th>
                     <th>courses</th>
                     <th>grades</th>
                     
                 </tr>
              </thead>
              <tbody>
                 <tr>
                  <td>2022/03/30</td>
                  <td>Java full course</td>
                  <td>95</td>
               
                 </tr>
                 <tr>
                  <td>2022/03/28</td>
                  <td>Html & Css</td>
                  <td>90</td>
                  
                 </tr>
              </tbody>
             </table>
            </div>
  
        </section>

         </main>

         <footer class="footer-section">
            <div class="footer-col">
              <h3>Top Products</h3>
              <li>Manage Reputation</li>
              <li>Power Tools</li>
              <li>Managed Websites</li>
              <li>Marketing Service</li>
            </div>
            <div class="footer-col">
              <h3>Quick Links</h3>
              <li>Jobs</li>
              <li>Brand Assets</li>
              <li>Investor Relations</li>
              <li>Terms of Serivce</li>
            </div>
            <div class="footer-col">
              <h3>Features</h3>
              <li>Manage Reputation</li>
              <li>Power Tools</li>
              <li>Managed Websites</li>
              <li>Marketing Service</li>
            </div>
            <div class="footer-col">
              <h3>Resources</h3>
              <li>Research</li>
              <li>Experts</li>
              <li>Marketing Service</li>
            </div>
            <div class="footer-col">
              <h3>Newsletter</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
        
             <div class="subscribe"></div>
             <input type="text" placeholder="Your Email address">
             <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
            <div class="copyright">
              <p>Copyright @2022 ALL rights reserved by school</p>
              <div class="pro-links">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
              </div>
            </div>
        
            </footer>
        
      
    
</body>
</html>
